.required label:after {
  content: ' *';
  color: red
}

.app-order-form {
  &__remark {
    resize: none;
  }

  &__button {
    margin-right: 5px;

    &:last-child {
      margin-right: initial;
    }
  }
}
