<h2 class="mt-3">List of products:</h2>
<div class="row">
  <div class="col-sm-4 py-2" *ngIf="isLoading; else productsListIsEmpty">Loading...</div>
  <ng-template #productsListIsEmpty>
    <div class="col-sm-4 py-2" *ngIf="isEmpty; else productsList">
      no products, waiting for supplies...
    </div>
  </ng-template>
  <ng-template #productsList>
    <div class="col-sm-4 py-2" *ngFor="let product of (products | async)">
      <app-product
        [product] = product
        (addToCart)="onAddToCart($event)"
        (countChange)="onChangeCount($event)"
        (seeDetails)="onSeeDetails($event)"
      ></app-product>
    </div>
  </ng-template>
</div>
